.status-bar {
  height: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
}

.status-bar__column {
  font-size: 14px;
  color: #59d4ef;
}

.status-bar .time {
  font-weight: 600;
}
