.stream {
  padding-top: 74px;
  padding-bottom: 120px;
  min-height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
}

.stream .post {
  padding: 14px;
  padding-bottom: 18px;
  margin-bottom: 14px;
  border-top: 1px solid #59d4ef;
  border-bottom: 1px solid #59d4ef;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.stream .post:last-child {
  margin-bottom: 0px;
}

.post .post__uploader {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.post__uploader img {
  height: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post__uploader .uploader__imformation {
  display: flex;
  flex-direction: column;
}
